body {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  width: 100vw;
  height: 250px;
  overflow: hidden;
  background-image: -moz-linear-gradient(
    135deg,
    rgb(17, 13, 255),
    rgb(206, 240, 253)
  );

  background-image: -webkit-linear-gradient(
    135deg,
    rgb(19, 15, 250),
    rgb(206, 240, 253)
  );

  background-image: linear-gradient(
    135deg,
    rgb(35, 31, 255),
    rgb(206, 240, 253)
  );
  color: white;
}

.text-area {
  text-align: left;
  padding: 30px;
}

button {
  padding: 10px;
  border-radius: 0.5em;
  background-color: #252525;
  color: white;
}

.text-area img {
  position: relative;
  top: -150px;
  right: -70%;
  width: 200px;
}

.middle-area {
  margin-top: 30px;
  padding: 30px;
  background-color: rgb(164, 162, 255);
  color: white;
}

.middle-area-flex {
  display: flex;
  width: 100vw;
}

.middle-area-text {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.middle-area-font {
  font-weight: 900;
}

.middle-area h5,
.middle-area h4 {
  margin: 0;
}

.middle-area i {
  color: rgb(101, 101, 255);
  font-size: 60px;
  background-color: white;
  border: 9px solid white;
  border-radius: 1em;
}

.middle-area-subfont {
  font-size: 0.8em;
}

.footer-area {
  width: 80vw;
  height: 200px;
  margin: auto;
}
.footer-area-flex {
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: left;
}
.white-rela {
  position: relative;
}
.white-box {
  position: absolute;
  width: 38vw;
  height: 200px;
  z-index: 2;
  border: 0px solid white;
}

.footer-area-img1 {
  width: 40vw;
  height: 200px;
  background-image: url(../img/portfolio-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-area-img2 {
  width: 40vw;
  height: 200px;
  background-image: url(../img/portfolio-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-area-img3 {
  width: 40vw;
  height: 200px;
  background-image: url(../img/portfolio-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-area-img4 {
  width: 40vw;
  height: 200px;
  background-image: url(../img/portfolio-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-area-text {
  margin-top: 30px;
  padding: 20px;
  font-size: 0.9em;
  text-align: center;
}

.footer-under-img {
  margin-top: 30px;
}

.footer-under-img-area i {
  color: white;
  background-color: #252525;
  border: 9px solid #252525;
  border-radius: 1em;
}

.footer-copy {
  margin-top: 10px;
  text-size: 0.9em;
}

.white-box:hover {
  width: 39vw%;
  height: 180px;
  border: 10px solid white;
  transition: all 1s;
}

@media screen and (max-width: 768px) {
  header {
    height: 400px;
  }
  .text-area img {
    position: relative;
    top: 0;
    right: 0;
    width: 200px;
  }

  .middle-area-flex {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    margin: auto;
  }
}
