body {
  background-color: #f7f9fc;
  font-size: 0.9em;
}

.section-back {
  border-radius: 1em;
  margin-top: 1em;
  background-color: white;
  padding: 1em;
}

header {
  margin-top: 1em;
  background-color: white;
  padding: 1em;
  padding-bottom: 1em;
  border-radius: 1em;
}

.img-area img {
  width: 178px;
  height: 164px;
  border-radius: 6em;
}

.profile-name {
  padding: 1em;
  text-align: left;
}

.header-table {
  width: 100%;
}
.section-nav {
  margin-top: 1em;
  border-bottom: 1px solid gray;
}

.section-nav-profile {
  color: #6fbaf8;
  border-bottom: 1px solid #6fbaf8;
  text-align: center;
}

.about-underline {
  border-bottom: 1px solid gray;
}

.fire-img {
  font-size: 10em;
  color: #6fbaf8;
}

.bottom-area {
  text-align: center;
  color: #6fbaf8;
}

.bottom-area h6 {
  color: black;
}

.footer-ani {
  text-align: center;
}
.footer-ani:hover {
  animation-name: 좌우왔다갔다;
  animation-duration: 5s;
}

@keyframes 좌우왔다갔다 {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.button-bounce {
  padding: 20px;
  color: white;
  background-color: orange;
  border: 0px;
  border-radius: 1em;
}
.button-bounce:hover {
  animation-name: 흔들버튼;
  animation-duration: 2s;
}

@keyframes 흔들버튼 {
  0% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.plus-scaleup {
  font-weight: 900;
  font-size: 3em;
  text-align: center;
}

.plus-scaleup:hover {
  animation-name: scaleup;
  animation-duration: 5s;
}

@keyframes scaleup {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(20deg);
    transform: scale(5);
  }
  100% {
    transform: rotate(0deg);
  }
}

.left-menubar {
  position: absolute;
  width: 10%;
  height: 100%;
  color: white;
  background-color: black;
  text-align: right;
  transform: translateX(-70px);
}

.left-menubar-area {
  padding: 20px;
  font-weight: 900;
  font-size: 1.5em;
}

.left-menubar:hover {
  width: 20%;
  text-align: center;
  transition-duration: 1.5s;
  transform: translateX(0px);
}

.left-menubar-item:hover {
  animation-name: move-text;
  animation-duration: 2s;
}

@keyframes move-text {
  0% {
    transform: translateX(50px);
  }
  25% {
    transform: skew(30deg, 0deg);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
