body {
  background-color: grey;
  height: 3000px;
}

.col h1 {
  width: 80%;
  border: 1px solid black;
  margin: auto;
}
.grey {
  height: 600px;
  background-color: lightgray;
  margin-top: 200px;
}

.text-area {
  float: left;
  width: 40%;
  border: 1px solid black;
}

.image {
  float: right;
  width: 50%;
  position: sticky;
  top: 100px;
}

.clear {
  clear: both;
}
